body {
  background-color: rgb(149, 195, 248);
}

img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 800px;
  border: solid 5px black;
}

div {
  background-color: rgb(193, 238, 241);
}

.recipe-info {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 75%;
  color: rgb(0, 0, 0);
  border: solid 5px black;
}

p {
  color: black;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;  
  border: solid 3px black;
  border-radius: 10px;
  font-size: 60px;
  text-align: center;
  background-color: lightblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 75%;
  border: solid rgb(114, 114, 129) 5px;
}

.flex-container > ol {
  display: flex;
  flex-direction: row;  
  padding: 15px; 
  margin: auto;   
}

.flex-container > ol > li {
  background-color: aliceblue;
  border: solid 1px black;
  margin-left: 10px;
  padding: 20px;
  list-style: none;   
}
.flex-container > ol > li > a {   
  color: black;
  text-decoration: none;
}
